@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0)
}

body{
  font-family: "Robota Condesed" sans-serif;
}

/*navbar*/

.logo{
  width: 6rem;
  height: 4rem;
  border-radius: 50%;
}


/*links from navbar*/
nav a.nav-link{
  /* font-weight: 500; */
  font-size: ;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}